/**
 * @name Standard Purple
 * @description A simple push for your Discord!
 * @author NIRQBE
 * @version 1.1.0
 * @authorId 926856163771953182
 * @invite Jx3TjNS
 * @patreon https://www.patreon.com/MircoWittrien
 * @twitch https://www.twitch.tv/NIRQBE
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://fonts.googleapis.com/css2?family=pixilify+sans:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css');

:root {
  --accentcolor: 114,137,218;
  --accentcolor2: 255,115,250;
  --linkcolor: 0,176,244;
  --mentioncolor: 250,166,26;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 69,69,69;
  --textdarkest: 80,80,80;
  --font: pixilify sans;
  --backgroundaccent: 18,18,18;
  --backgroundprimary: 46,19,63;
  --backgroundsecondary: 34,12,37;
  --backgroundsecondaryalt: 15,15,15;
  --backgroundtertiary: 10,10,10;
  --backgroundfloating: 0,0,0;
  --settingsicons: 1;
  --columns: 1;
  --guildgap: 11;
  --aligndms: 0;
}

/* Any custom CSS below here */


